.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 0;
	h1 {
		font-size: $title-1;
	}
}

.header-buttons {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.logo {
	display: flex;
	gap: 0.5rem;
	align-items: center;
}

.logo img {
	width: 34px;
	transform: translateY(-3px);
}
